html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  background-position: center center;
}
canvas {
  display: block;
}


#image {
  justify-content: center;
  text-align: center;
  margin: 30;
  visibility: display;
  display: block;
}

#theImage {
  visibility: hidden;
  display: block;
  justify-content: center;
  text-align: center;
}

#themage {
  visibility: hidden;
}