html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  background-position: center center;
}
canvas {
  display: block;
}


#image {
  justify-content: center;
  text-align: center;
  margin: 30;
  visibility: display;
  display: block;
  position: absolute;
}

#theImage {
  visibility: hidden;
  display: block;
  position: absolute;
}

#themage {
  visibility: hidden;
}



#conjunto {
  display: inline-block;
  position: relative;
  padding:0; margin:0;
  top:50; left:50;
}